@import "tailwindcss";

@font-face {
  font-family: "Expo Arabic";
  src: url("./fonts/ExpoArabic-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html[lang="en"] body {
  font-family: "Neue Regrade", sans-serif !important;
}

html[lang="ar"] body {
  font-family: "Expo Arabic", sans-serif !important;
}
