@import "tailwindcss";

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Regular Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Light Italic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade SemiBold Italic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"), url("./fonts/Regrade Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Bold Italic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Regrade";
  src: local("Neue Regrade"),
    url("./fonts/Regrade Extrabold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Expo Arabic";
  src: local("Expo Arabic"),
    url("./fonts/Regrade ExtraBold Italic.otf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Expo Arabic";
  src: local("Expo Arabic"),
    url("./fonts/ExpoArabic-Book.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

html[lang="en"] body {
  font-family: "Neue Regrade" !important;
}

html[lang="ar"] body {
  font-family: "Expo Arabic" !important;
}
